/nbproject/private/
/build/
/dist/
build/classes/vista/Principal.form
build/classes/vista/Principal.form
nbproject/private/private.properties
nbproject/private/private.xml
src/vista/Principal.form
build/classes/vista/Principal.form
